#navbar {
  margin-left: 10px;
}
#footer {
  text-align: center;
}
#calculatorForm {
  margin: 10px;
}
#submit {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#field {
  margin-bottom: 10px;
}
#calculatorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#data {
  margin: 10px;
}
#hero {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
#result {
  text-align: center;
}
#resultTitle {
  text-align: center;
  margin: 20px;
}
#left {
  width: 30%;
  height: 400px;
  /* border: 1px solid green; */
  float: left;
  margin: 5px;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
#right {
  width: 68%;
  height: 400px;
  /* border: 1px solid red; */
  margin: 5px;
  float: left;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}
#top {
  width: "100%";
  height: 100px;
  /* border: 1px solid blue; */
  margin: 5px;
  clear: both;
  text-align: center;
  font-size: 60px;
}
